
.booking {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
    height:100%;
    

    img {
        width: 200px;
        height: 200px;
    }

    .service-name{
        font-weight: bold;
        font-size: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

            .book-btn {
                background-color: #FF6666;
                width: 10%;
                color: white;
                font-size: 16px;
                height: 34px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
            }

            .work-info{
                display: flex;
                justify-content: space-around;
                align-items: flex-start;

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .input {
                        margin-top: 1em;
                        margin-bottom: 1em;
                        margin-right: 10px;
                        width: 80%;
                        padding-left: 0;
                        padding-top: .5em 1em;
                        padding-bottom: .5em 1em;
                        height: auto;
                        text-align: left;
                        font-size: 12px;
                        outline: 0;
                        border-width: 0 0 2px;
                        border-color: grey;
                        
    
                    }
    
                    .input:focus {
                        border-color: #FF6666;
                    }

                    .error-message {
                        color: #FF6666;
                        font-style: italic;
                        font-size: 10px;
                        margin-top: 0
                    }
                }

               
            
            }

            button {
                width: 10%;
            }
        // }
    }
}

