.details-frame {
    background-color: #FFFFFF;
    width: 382px;
    height: 300px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    padding: 20px;

    h2 {
        color:  #FF6666;
        margin-top: 80px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 60%;
            height: 20px;
        }

        .details-btn {
            background-color: #FF6666;
            width: 30%;
            color: white;
            font-size: 16px;
            height: 34px;
            margin-top: 30px;
            margin-bottom: 10px;
            border-radius: 4px;
        }
    }
}