.hamburger-menu {
    margin: 100px;
    position: fixed;
    z-index: 1;
  
    span {
      background-color: #29494E;
      width: 30px;
      height: 5px;
      display: block;
      margin-bottom: 5px;
      margin-left: -38px;
    }
  }
  
  .overlay {
    margin-top: 75px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    overflow-x: hidden;
    transition: 0.5s;
  
    .closebtn {
      position: relative;
      top: -20px;
      right: -170px;
      font-size: 30px;
      color: #818181;
    }
  
    .intro {
      background-color: #F4F4F4;
      width: 214px;
      height: 725px;
      color: rgba(11, 108, 138, 0.89);
      position: absolute;
    
  
      .name {
        font-size: 25px;
        margin-left: 20px;
        margin-top: 0;
        font-weight: bold;
      }
  
      .span {
        background-color: #FF6666;
        display: block;
        width: 300px;
        height: 1px;
      }
  
      .avatar {
        margin: 0 0 10px 20px;
        width: 50%;
        border-radius: 50%;
      }
    }
  
    .overlay-content-map {
      position: relative;
      margin-top: 200px;
      width: 100%;
      text-align: left;
      color: rgba(11, 108, 138, 0.89);
  
      .eachNav {
        display: flex;
        justify-items: space-evenly;
        width: 100%;
        padding-left: 30px;
        align-items: center;
      }
      .eachNav:hover {
        background-color: #B6B2B1;
        color: rgba(11, 108, 138, 0.89);
      }
    }
  
    a {
      padding: 16px 0 16px 8px;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: #717171;
      display: block;
      transition: 0.3s;
      margin-top: 0px;
    }
  }