.hamburger-menu {
    margin: 30px;
    position: absolute;
    z-index: 1;
  
    span {
      background-color: #29494E;
      width: 30px;
      height: 5px;
      display: block;
      margin-bottom: 5px;
    }
  }
  
  .overlay {
    margin-top: 75px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // background-color: #082B84;
    background-color: #F4F4F4;
    overflow-x: hidden;
    transition: 0.5s;
  
    .closebtn {
      position: relative;
      top: -20px;
      right: -170px;
      font-size: 30px;
      color: #818181;
    }
  
    .intro {
      background-color: #F4F4F4;
      width: 214px;
      height: 725px;
      color: rgba(11, 108, 138, 0.89);
      position: absolute;
      // padding: 30px;
  
      .name {
        font-size: 16px;
        margin-left: 20px;
      }
  
      .email-address {
        font-size: 12px;
        margin-left: 20px;
      }
  
      .span {
        background-color: rgba(255, 255, 255, 0.8);
        display: block;
        width: 214px;
        height: 1px;
      }
  
      .logo {
        // width: 80%;
        margin: -20px 0 10px 20px;
        width: 170.81px;
        height: 35.61px;
      }
    }
  
    .overlay-content-map {
      position: relative;
      top: 18%;
      width: 100%;
      text-align: left;
      // margin-top: 30px;
      color: rgba(11, 108, 138, 0.89);
      //   padding-left: 30px;
      //   margin: 0px;
      //   margin-left: 10px;
  
      //   a:hover {
      //       // background-color: rgba(48, 155, 242, 0.637);
      //       // width: 194px;
      //       // height: 30px;
      //     //   color:#818181;
  
      //   }
  
      .eachNav {
        display: flex;
        //   align-items: center;
        //   align-self: flex-end;
        justify-items: space-evenly;
        width: 100%;
        padding-left: 30px;
        align-items: center;
        //   margin-left: 10px;
      }
      .eachNav:hover {
        background-color: #1c49bb;
        color: rgba(11, 108, 138, 0.89);
      }
    }
  
    a {
      padding: 16px 0 16px 8px;
      text-decoration: none;
      font-size: 20px;
      color: rgba(11, 108, 138, 0.89);
      display: block;
      transition: 0.3s;
      margin-top: 0px;
      // text-align: center;
  
      //   :hover, :focus {
      //       color: white;
  
      //     }
    }
  }