body {
    background-color: #E5E5E5;

    .home-center {
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
            margin-top: 100px;
            width: 60%;
            
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #FF6666; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }

    .services {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .each-service {
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            width: 170px;
            height: 200px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            // align-items: center;
            

            .icon {
                padding: 15px;
                max-height: 60%;
                padding-top: 10px;
                padding-bottom: 10px;

                #cleaning-icon{
                    height: 95%;
                }

                img {
                    width: 90%;
                    // height: 90%;
                    display: block;
                }
            }

            .text {
                max-height: 40%;
                background-color: white;
                border: 2px solid white;
                border-radius: 10px;

                p {
                display: inline-block;
                font-weight: bold;
                }
            }
        }
    }
    }

}

