.navBar {
    background-color: #FFFFFF;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 76px;
    width: 1440px;
    position: fixed;

    .name {
        color: #FF6666;
        margin-bottom: 10px;
        font-size: 35px;
    }

    .account {
        text-decoration: none;
        color: #FF6666;
        margin-bottom: -5px;
        font-size: 18px;
        font-weight: bold;
    }
}