.servicing {
    text-align: center;
    background-color: #FFFFFF;
    width: 40%;
    height: 70%;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 20%;
    }

    .service-name {
        font-weight: bold;
        font-size: 30px;
    }

    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

        .role-type{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

            }
           
        }

        input {
            margin-top: 1em;
            margin-bottom: 1em;
            // margin-right: 10px;
            width: 100%;
            padding-left: 0;
            padding-top: .5em 1em;
            padding-bottom: .5em 1em;
            height: auto;
            text-align: left;
            font-size: 12px;
            outline: 0;
            border-width: 0 0 2px;
            border-color: grey;
           
        }

        .submit-btn {
            background-color: #FF6666;
            width: 40%;
            color: white;
            font-size: 16px;
            height: 34px;
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
        }
    }
}

.success {
    padding-top: 200px;
    background-color: #FFFFFF;
    width: 382px;
    height: 300px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    padding: 20px;

    h2 {
        color:  #FF6666;
    }

    .link-to {
        text-decoration-color: black;
        color: black
    }
}