.servicing {
    text-align: center;

    img {
        width: 10%;
    }

    form {
    display: flex;
    flex-direction: column;
    width: 50%;

        .role-type{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}